@{
    ViewBag.Title = "QuotationEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Quotation Entry";
}
@model ASI.MGC.FS.Model.QUOTATION_MASTER
@*<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />*@
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/Content/formValidation.min.css" rel="stylesheet" />*@
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Quotation Entry</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("SaveQuotation", "Quotation", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formQuotationEntry", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "Required Field", new { @class = "text-danger" })
                    <input type="hidden" id="hdnQuotProds" name="quotProds" />
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label id="lblMRVNo" class="control-label col-md-4 small ">Customer Code</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.CUSTNAME_QM, null, new { ID = "txtCustCode", Class = "form-control", @required = "required" })
                                    <span class="input-group-btn">
                                        <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#CustomerSearchModel">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label id="lblDate" class="control-label col-md-4 small ">Quotation No</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(m => m.QUOTNO_QM, null, new { ID = "txtQuotationNo", @Value = ViewBag.QotNumber, Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label id="lblCustCode" class="control-label col-md-4 small ">Customer Name</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBox("CustName", null, new { ID = "txtCustName", Class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label id="lblGLDate" class="control-label col-md-4 small ">Quotation Date</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(m => m.DATE_QM, null, new { ID = "txtQuotDate", @Value = DateTime.Today.Date.ToShortDateString(), Class = "form-control", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label id="lblCustCode" class="control-label col-md-4 small ">Primary Address</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(m => m.ADDRESS1_QM, null, new { ID = "txtAddress1", Class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label id="lblGLDate" class="control-label col-md-4 small ">Secondary Address</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(m => m.ADDRESS2_QM, null, new { ID = "txtAddress2", Class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label id="lblCustCode" class="control-label col-md-4 small ">Remarks</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextAreaFor(d => d.NOTE_QM, new { ID = "txtRemarks", Class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <fieldset>
                                <legend>Quotation Details</legend>
                                <div id="grid" class="panel-body">
                                    <section>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#QuotProductModel">
                                            Add Product
                                        </button>
                                        <table id="tblQuotDetails"></table>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Grand Total</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBox("NetPrdAmount", null, new { ID = "txtNetPrdAmount", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                        </div>
                        <div class="col-md-6 form-group">
                            <label></label>
                            <div class="col-md-8 paddingLeftRight0">
                                <input type="submit" class="btn btn-success col-md-3 pull-right" value="Save">
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="QuotProductModel" tabindex="-1" role="dialog" aria-labelledby="QuotProductModelLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-lg" style="width: 85%">
            <div class="modal-content">
                <form class="form-horizontal" id="QuotProductModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Add Product Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 form-group">
                                <label id="lblPrCode" class="control-label col-md-4 small ">PrCode:</label>
                                <div class="col-md-6 paddingLeftRight0">
                                    <div class="input-group">
                                        <input type="text" id="txtPrCode" data-provide="typeahead" name="PrCode" class="form-control" autocomplete="off" readonly />
                                        <span class="input-group-btn">
                                            <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#QuotPrdSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 form-group">
                                <label id="lblPrDesc" class="control-label col-md-4 small ">PrDesc:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" id="txtPrDesc" data-provide="typeahead" name="PrDesc" class="form-control" autocomplete="off" required readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 form-group">
                                <label id="lblJobID" class="control-label col-md-4 small ">Jobid:</label>
                                <div class="col-md-6 paddingLeftRight0">
                                    <div class="input-group">
                                        <input type="text" id="txtJobID" data-provide="typeahead" name="Jobid" class="form-control" autocomplete="off" readonly />
                                        <span class="input-group-btn">
                                            <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#QuotJobSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 form-group">
                                <label id="lblJobDesc" class="control-label col-md-4 small ">JobDesc:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" id="txtJobDesc" data-provide="typeahead" name="JobDesc" class="form-control" autocomplete="off" required readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 form-group">
                                <label id="lblQuantity" class="control-label col-md-4 small ">Quantity:</label>
                                <div class="col-md-6 paddingLeftRight0">
                                    <input type="number" id="txtQuantity" data-fv-notempty="true" min="0" name="Quantity" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-7 form-group">
                                <label id="lblRate" class="control-label col-md-4 small ">Rate:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" id="txtRate" data-fv-notempty="true" pattern="\d{1,5}" name="Rate" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 form-group">
                                <label class="control-label col-md-4 small ">Amount:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" id="txtAmount" name="Amount" class="form-control" value="0" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSave" class="btn btn-success">
                            Save
                        </button>
                        <button type="button" id="btnCancel" class="btn btn-warning">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="CustomerSearchModel" tabindex="-1" role="dialog" aria-labelledby="CustomerSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="CustomerSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Customer Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        @*<div class="row">
                            <div class="col-lg-11 col-md-11">
                                <div id="custGrid" class="panel-body">
                                    <div class="col-md-12 form-group">
                                        <div class="col-md-12 input-group paddingLeftRight0">
                                            @Html.TextBox("searchCust", null, new { ID = "txtCustSearch", Class = "form-control" })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table id="tblCustomerSearch" style="width: 100%"></table>
                                    <div id="custPager"></div>
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="custGrid" class="panel-body">
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("custIdSearch", null, new { ID = "txtCustIdSearch", Class = "form-control", @placeholder = "Search Customer ID here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("custNameSearch", null, new { ID = "txtCustNameSearch", Class = "form-control", @placeholder = "Search Customer Name here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table id="tblCustomerSearch" style="width: 100%"></table>
                                    <div id="custPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnCustomerSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="QuotPrdSearchModel" tabindex="-1" role="dialog" aria-labelledby="QoutPrdSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="QoutPrdSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Porduct Details Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="prdGrid" class="panel-body">
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("prdIdSearch", null, new { ID = "txtPrdIdSearch", Class = "form-control", @placeholder = "Search Product ID here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("prdNameSearch", null, new { ID = "txtPrdNameSearch", Class = "form-control", @placeholder = "Search Product Name here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>

                                    <br /><br />
                                    <table id="tblProductSearch" style="width: 100%"></table>
                                    <div id="prdPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnProductSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="QuotJobSearchModel" tabindex="-1" role="dialog" aria-labelledby="QoutJobSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="QoutJobSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Job Details Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="jobGrid" class="panel-body">
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("jobIdSearch", null, new { ID = "txtJobIdSearch", Class = "form-control", @placeholder = "Search Job ID here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("jobNameSearch", null, new { ID = "txtJobNameSearch", Class = "form-control", @placeholder = "Search Job Name here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table id="tblJobSearch" style="width: 100%"></table>
                                    <div id="jobPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnJobSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end:main -->
@section scripts
{
    @*<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrapValidator.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.framework.js")"></script>*@
    <script src="@Url.Content("~/Scripts/Custom/Quotation/QuotationEntry.js")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script type="text/javascript">
        var isAlreadyOpen = false;
        function OnSuccess(quotNumber) {
            if (quotNumber !== "" && !isAlreadyOpen) {
                toastr.success("Quotation Entry is added Successfully.");
                isAlreadyOpen = true;
                openInvReport(quotNumber);
            }
        }

        function OnFailure() {
            toastr.error("Sorry! Something went wrong, please try again.");
        }

        function openInvReport(quotNo) {
            var quotReportUrl = "/MgcReports/Quotation?quotNo=" + quotNo;
            window.open(quotReportUrl);
            toastr.info("Quotation Report is open in new window.");
        }

    </script>
}