@model ASI.MGC.FS.Model.SALEDETAIL

@{
    ViewBag.Title = "JobEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Sales Entry</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Sales Entry</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("SaveJobEntry", "Job", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formJobEntry", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblJobID" class="control-label col-md-4 small ">Job ID:</label>
                                <div class="col-md-7 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.JOBNO_SD, null, new { ID = "txtJobID", Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(d => d.JOBNO_SD)
                                </div>
                                <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#mrvJobSearchModel">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblMRVNo" class="control-label col-md-4 small ">MRV No:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.MRVNO_SD, null, new { ID = "txtMRVNo", Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(d => d.MRVNO_SD)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblCustCode" class="control-label col-md-4 small ">Cust Code:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("CustCode", null, new { ID = "txtCustCode", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblCustName" class="control-label col-md-4 small ">Cust Name:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("CustName", null, new { ID = "txtCustName", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblMRVProdCode" class="control-label col-md-4 small ">MRV Prod. Code:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("MRVProdCode", null, new { ID = "txtMRVProdCode", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblMRVProdDetail" class="control-label col-md-4 small ">MRV Prod. Detail:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("MRVProdDetail", null, new { ID = "txtMRVProdDetail", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblEmpCode" class="control-label col-md-4 small ">Emp Code:</label>
                                <div class="col-md-7 paddingLeftRight0">
                                    @Html.TextBox("EmpCode", null, new { ID = "txtEmpCode", Class = "form-control", @readonly = "readonly" })
                                </div>
                                <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#EmployeeSearchModel">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblEmpName" class="control-label col-md-4 small ">Emp Name:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("EmpName", null, new { ID = "txtEmpName", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblSaleDate" class="control-label col-md-4 small ">Sale Date:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.SALEDATE_SD, null, new { ID = "txtSaleDate", @Value = DateTime.Today.Date.ToShortDateString(), Class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.SALEDATE_SD)
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblType" class="control-label col-md-4 small ">Type:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.DropDownList("SaleType", (IList<SelectListItem>)ViewBag.SaleTypeList, new { id = "ddlSaleType", Class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="divPrCode" class="col-md-6 form-group">
                                <label id="lblPrCode" class="control-label col-md-4 small ">Pr Code:</label>
                                <div class="col-md-7 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.PRCODE_SD, null, new { ID = "txtPrCode", Class = "form-control", @readonly = "readonly" })
                                </div>
                                <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#PrdSearchModel">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div id="divSowCode" style="display:none;" class="col-md-6 form-group">
                                <label id="lblSowCode" class="control-label col-md-4 small ">Sow Code:</label>
                                <div class="col-md-7 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.JOBID_SD, null, new { ID = "txtSowID", Class = "form-control", @readonly = "readonly" })
                                </div>
                                <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#JobSearchModel">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div id="divPrDetail" class="col-md-6 form-group">
                                <label id="lblPrDetail" class="control-label col-md-4 small ">Pr Detail:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("PrDetail", null, new { ID = "txtPrDetail", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div id="divSowDetail" style="display:none;" class="col-md-6 form-group">
                                <label id="lblSowDetail" class="control-label col-md-4 small ">Sow Detail:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("SowDetail", null, new { ID = "txtSowDetail", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblQty" class="control-label col-md-4 small ">Quantity:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.QTY_SD, null, new { ID = "txtQty", Class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.QTY_SD)
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblUnit" class="control-label col-md-4 small ">Unit:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.UNIT_SD, null, new { ID = "txtUnit", Class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.UNIT_SD)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblPrRate" class="control-label col-md-4 small ">Rate:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.RATE_SD, null, new { ID = "txtPrRate", Class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.RATE_SD)
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblPrAmount" class="control-label col-md-4 small ">Amount:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("Amount", null, new { ID = "txtPrAmount", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblDiscount" class="control-label col-md-4 small ">Discount:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.DISCOUNT_SD, null, new { ID = "txtDiscount", Class = "form-control", @value = "0" })
                                    @Html.ValidationMessageFor(d => d.DISCOUNT_SD)
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblShipCharge" class="control-label col-md-4 small ">Shipping Charges:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.SHIPPINGCHARGES_SD, null, new { ID = "txtShipCharge", Class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.SHIPPINGCHARGES_SD)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblPayMode" class="control-label col-md-4 small ">Pay Mode:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.DropDownList("PayMode", (IList<SelectListItem>)ViewBag.PayModeList, new { id = "ddlPayMode", Class = "form-control" })
                                </div>
                            </div>
                            <div id="divCashAmount" class="col-md-6 form-group">
                                <label id="lblCashAmount" class="control-label col-md-4 small ">Cash Amount:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.CASHTOTAL_SD, new { ID = "txtCashAmount", Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(d => d.CASHTOTAL_SD)
                                </div>
                            </div>
                            <div id="divCreditAmount" style="display:none;" class="col-md-6 form-group">
                                <label id="lblCreditAmount" class="control-label col-md-4 small ">Credit Amount:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.CREDITTOTAL_SD, new { ID = "txtCreditAmount", Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(d => d.CREDITTOTAL_SD)
                                </div>
                            </div>
                        </div>
                        <div class="row" id="divCreditCustDetails" style="display:none;">
                            <div class="col-md-6 form-group">
                                <label id="lblCustCode" class="control-label col-md-4 small ">Cust Code:</label>
                                <div class="col-md-7 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.CREDITACCODE_SD, null, new { ID = "txtCreditCustCode", Class = "form-control", @readonly = "readonly" })
                                </div>
                                <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#CustomerSearchModel">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblCustName" class="control-label col-md-4 small ">Cust Name:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("CustName", null, new { ID = "txtCreditCustName", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                            </div>
                            <div class="col-md-6 form-group">
                                <label></label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="submit" class="btn btn-success col-md-3 pull-right" value="Save">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="mrvJobSearchModel" tabindex="-1" role="dialog" aria-labelledby="mrvJobSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="mrvProductModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Job Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="grid" class="panel-body">
                                    <table id="tblJobSearch" style="width:100%"></table>
                                    <div id="Pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnJobMRVSearch" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="PrdSearchModel" tabindex="-1" role="dialog" aria-labelledby="PrdSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="PrdSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Job Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="prdGrid" class="panel-body">
                                    <table id="tblProductSearch" style="width: 100%"></table>
                                    <div id="prdPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnProductSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="JobSearchModel" tabindex="-1" role="dialog" aria-labelledby="JobSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="JobSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Job Details Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="jobGrid" class="panel-body">
                                    <table id="tblJobModalSearch" style="width:100%"></table>
                                    <div id="jobPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnJobSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="EmployeeSearchModel" tabindex="-1" role="dialog" aria-labelledby="EmployeeSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="EmployeeSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Employee Details Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="empGrid" class="panel-body">
                                    <table id="tblEmployeeSearch" style="width:100%"></table>
                                    <div id="empPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnEmpSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="CustomerSearchModel" tabindex="-1" role="dialog" aria-labelledby="CustomerSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="CustomerSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Customer Details Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="custGrid" class="panel-body">
                                    <table id="tblCustomerSearch" style="width:100%"></table>
                                    <div id="custPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnCustSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/Job/JobEntry.js")"></script>
<script type="text/javascript">

    function OnSuccess(response) {
        alert(response);
    }

    function OnFailure(response) {
        alert("Whoops! That didn't go so well did it?");
    }

</script>
}