@{
    ViewBag.Title = "ArApMatching";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "AR AP Matching";
}
@model ASI.MGC.FS.Model.ARMATCHING
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
<link href="~/Content/formValidation.min.css" rel="stylesheet" />
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Allocation Details</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("SaveArApMatching", "Finance", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formArApMatching", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "Required Field", new { @class = "text-danger" })
                    <input id="hdnAllocDetails" name="allocDetails" type="hidden" />
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Party A/C No:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    @Html.TextBox("PartyAccNo", null, new { ID = "txtPartyAccNo", Class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnDocTypeSearch" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#partyAccountSearchModel">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Doc No:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    @Html.TextBoxFor(o=>o.DOCCNUMBER_ARM, null, new { ID = "txtDocNo", Class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button type="button" id="arApDocNoTypeSearch" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#allocDocSearchModel">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Party A/C Details:</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBox("PartyAccDetails", null, new { ID = "txtPartyAccDetails", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Amount:</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBox("Amount", null, new { ID = "txtAmount", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Total Doc Value:</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBox("TotalDocValue", null, new { ID = "txtTotalDocValue", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Allocated Total:</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBox("AllocatedTotal", null, new { ID = "txtAllocatedTotal", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Total Match Value:</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o=>o.AMOUNT_ARM, null, new { ID = "txtTotalMatchValue", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <fieldset>
                                <legend>Product Details</legend>
                                <div id="grid" class="panel-body">
                                    <section id="unseen">
                                        <table id="tblAllocationDetails"></table>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small "></label>
                            <div class="col-md-8 paddingLeftRight0">
                                <input type="submit" id="btnSave" class="btn btn-success col-md-3 pull-right" value="Save">
                                <button type="button" id="btnNew" class="btn btn-success">New</button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="allocationDetailsModel" tabindex="-1" role="dialog" aria-labelledby="allocationDetailsModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-sm" style="width: 85%">
            <div class="modal-content">
                <form class="form-horizontal" id="allocationDetailsModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Add Allocation Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">AL Code:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" name="AlCode" id="txtAlCode" data-fv-notempty="true" class="form-control" readonly required />
                                        <span class="input-group-btn">
                                            <button type="button" id="btnAlCodeSearch" class="btn btn-default" data-toggle="modal" data-target="#alCodeSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">AL Description:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" name="AlDesc" id="txtAlDesc" data-fv-notempty="true" class="form-control" readonly required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Account Code:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" name="AccountCode" data-fv-notempty="true" id="txtAccountCode" class="form-control" readonly required />
                                        <span class="input-group-btn">
                                            <button type="button" id="btnAccountSearch" class="searchClass btn btn-default btn-md" data-toggle="modal" disabled data-target="#accountSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Account Description:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" name="AccountDesc" id="txtAccountDesc" data-fv-notempty="true" class="form-control" readonly required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Amount:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" name="Amount" id="txtAmount" data-fv-notempty="true" pattern="\d{1,5}" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Narration:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" name="Narration" id="txtNarration" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSave" class="btn btn-success">
                            Save
                        </button>
                        <button type="button" id="btnCancel" class="btn btn-warning">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="partyAccountSearchModel" tabindex="-1" role="dialog" aria-labelledby="partyAccountSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-sm">
            <div class="modal-content">
                <form class="form-horizontal" id="partyAccountSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Party A/C Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="partyGrid" class="panel-body">
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("partyIdSearch", null, new { ID = "txtPartyIdSearch", Class = "form-control", @placeholder = "Search by ID here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("partyNameSearch", null, new { ID = "txtPartyNameSearch", Class = "form-control", @placeholder = "Search by Name here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table id="tblPartyAccountSearch" style="width: 100%"></table>
                                    <div id="partyPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="btnPartySelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="allocDocSearchModel" tabindex="-1" role="dialog" aria-labelledby="allocDocSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-sm">
            <div class="modal-content">
                <form class="form-horizontal" id="allocDocSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Allocated Doc Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="partyGrid" class="panel-body">
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("docIdSearch", null, new { ID = "txtDocIdSearch", Class = "form-control", @placeholder = "Search by ID here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table id="tblallocDocSearch" style="width: 100%"></table>
                                    <div id="docPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="btnAllocDocSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/Finance/ArApMatching.js?1500")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script type="text/javascript">

        function OnSuccess(success) {
            if (success) {
                toastr.success("AR Matched Successfully.");
                $("#btnSave").hide();
            } else {
                toastr.error("Sorry! Something went wrong, please try again.");
            }
        }

        function OnFailure() {
            toastr.error("Sorry! Something went wrong, please try again.");
            $("#btnSave").hide();
        }

    </script>
}