@{
    ViewBag.Title = "DayEndOperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Day End Operation";
}
@model ASI.MGC.FS.Models.DayEndOperationModel
<link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
<link href="~/Content/formValidation.min.css" rel="stylesheet" />
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Day End Operation</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("SaveDayEndOperation", "Finance", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formDayEndProcess", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Day From</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o => o.DayFrom, null, new { ID = "txtDayFrom", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Date</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o => o.Date, null, new { ID = "txtDate", @Value = DateTime.Now.ToShortDateString(), Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Day To</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o => o.DayTo, null, new { ID = "txtDayTo", @Value = DateTime.Now.ToShortDateString(), Class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Doc No</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o => o.DocumentNo, null, new { ID = "txtDocNo", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Last Updated Date</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o => o.LastUpdateDate, null, new { ID = "txtLastUpdatedDate", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Last Doc No</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o => o.LastDocumentNo, null, new { ID = "txtLastDocNo", Class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Job Total</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o => o.JobTotal, null, new { ID = "txtJobTotal", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Sales Total</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o => o.SalesTotal, null, new { ID = "txtSalesTotal", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Shipping Total</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o => o.ShippingTotal, null, new { ID = "txtShippingTotal", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small ">Discount Total</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(o => o.DiscountTotal, null, new { ID = "txtDiscountTotal", Class = "form-control", @readonly = "readonly", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-4 small "></label>
                            <div class="col-md-8">
                                <button type="button" id="btnStart" class="btn btn-success">Start</button>
                                <button type="submit" id="btnSave" class="btn btn-success">Save</button>
                                <button type="button" id="btnNew" class="btn btn-success">New</button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
<!-- end:main -->
@section scripts
{
    <script src="@Url.Content("~/Scripts/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/Finance/DayEndOperation.js?1500")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script type="text/javascript">
        function OnSuccess(status) {
            if (status.success) {
                toastr.success("Day end operation completed successfully");
                $("#btnSave").hide();
            }
            else {
                toastr.error(status.msg);
            }

        }
        function OnFailure() {
            toastr.error("Sorry! something went wrong.");
            //$("#btnSave").hide();
        }
    </script>
}