@{
    ViewBag.Title = "JVCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "JV Creation";
}
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
<link href="~/Content/formValidation.min.css" rel="stylesheet" />
@model ASI.MGC.FS.Model.BANKTRANSACTION
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>JV Creation</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("SaveJvCreation", "Finance", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formJvCreation", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "Required Field", new { @class = "text-danger" })
                        <input id="hdnAllocDetails" name="allocDetails" type="hidden" />
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Doc Type:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        @Html.TextBox("DocType", null, new { ID = "txtDocType", Class = "form-control", @readonly = "readonly" })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnDocTypeSearch" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#docTypeSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblDocNo" class="control-label col-md-4 small ">Doc No:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(o => o.DOCNUMBER_BT, null, new { ID = "txtDocNo", Class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Doc Details:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("DocDetails", null, new { ID = "txtDocDetails", Class = "form-control", @readonly = "readonly", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Doc Date:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(o => o.DOCDATE_BT, null, new { ID = "txtDocDate", @Value = ViewBag.Today, Class = "form-control", @readonly = "readonly", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Other Ref:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(o => o.OTHERREF_BT, null, new { ID = "txtOtherRef", Class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Narration:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("Narration", null, new { ID = "txtNarration", Class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">GL Date:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(o => o.GLDATE_BT, null, new { ID = "txtGlDate", @Value = ViewBag.Today, Class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <fieldset>
                                    <legend>Allocation Details</legend>
                                    <div id="grid" class="panel-body">
                                        <section id="unseen">
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#allocationDetailsModel">
                                                Add Allocation Details
                                            </button>
                                            <table id="tblAllocDetails"></table>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label id="lblTotalDiscount" class="control-label col-md-4 small ">Total Debit</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("TotalDebitAmount", null, new { ID = "txtTotalDebitAmount", Class = "form-control", @readonly = "readonly", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label id="lblTotalCashAmount" class="control-label col-md-4 small ">Total Credit</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("TotalCreditAmount", null, new { ID = "txtTotalCreditAmount", Class = "form-control", @readonly = "readonly", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label id="lblTotalShipCharges" class="control-label col-md-4 small ">Difference</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("Difference", null, new { ID = "txtDifference", Class = "form-control", @readonly = "readonly", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small "></label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="submit" id="btnJvSave" class="btn btn-success col-md-3 pull-right" value="Save">
                                    <button type="button" id="btnNew" class="btn btn-success">New</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="allocationDetailsModel" tabindex="-1" role="dialog" aria-labelledby="allocationDetailsModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-sm" style="width: 85%">
            <div class="modal-content">
                <form class="form-horizontal" id="allocationDetailsModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Add Allocation Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">AL Code:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" name="AlCode" id="txtAlCode" data-fv-notempty="true" class="form-control" readonly required />
                                        <span class="input-group-btn">
                                            <button type="button" id="btnAlCodeSearch" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#alCodeSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">AL Description:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" name="AlDesc" id="txtAlDesc" data-fv-notempty="true" class="form-control" readonly required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Account Code:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" name="AccountCode" data-fv-notempty="true" id="txtAccountCode" class="form-control" readonly required />
                                        <span class="input-group-btn">
                                            <button type="button" id="btnAccountSearch" class="searchClass btn btn-default btn-md" data-toggle="modal" disabled data-target="#accountSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Account Description:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" name="AccountDesc" id="txtAccountDesc" data-fv-notempty="true" class="form-control" readonly required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Debit:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" name="Debit" id="txtDebit" data-fv-notempty="true" pattern="\d{0,5}" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Credit:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" name="Credit" id="txtCredit" class="form-control" data-fv-notempty="true" pattern="\d{0,5}" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Narration:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" name="accNarration" id="txtAccNarration" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSave" class="btn btn-success">
                            Save
                        </button>
                        <button type="button" id="btnCancel" class="btn btn-warning">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="alCodeSearchModel" tabindex="-1" role="dialog" aria-labelledby="alCodeSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-sm">
            <div class="modal-content">
                <form class="form-horizontal" id="alCodeSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Allocation Code Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="alCodeGrid" class="panel-body">
                                    <table id="tblAlCodeSearch" style="width: 100%"></table>
                                    <div id="alCodePager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnAlCodeSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="accountSearchModel" tabindex="-1" role="dialog" aria-labelledby="accountSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-sm">
            <div class="modal-content">
                <form class="form-horizontal" id="accountSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Account Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="allocGrid" class="panel-body">
                                    <div class="col-md-4 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("searchId", null, new { ID = "txtSearchId", Class = "form-control", @placeholder = "Search by ID..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("searchAccount", null, new { ID = "txtAccountSearch", Class = "form-control", @placeholder = "Search by Name..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table id="tblAccountSearch" style="width: 100%"></table>
                                    <div id="accPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnAccountSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="docTypeSearchModel" tabindex="-1" role="dialog" aria-labelledby="docTypeSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-sm">
            <div class="modal-content">
                <form class="form-horizontal" id="docTypeSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Document Type Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="docGrid" class="panel-body">
                                    <table id="tblDocSearch" style="width:100%"></table>
                                    <div id="docPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="btnDocSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/Finance/JvCreation.js?2500")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script type="text/javascript">
        function OnSuccess(data) {
            if (data.jvNo !== "" && data.success) {
                toastr.success("Journal Voucher created Successfully.");
                openJv(data.jvNo);
                //$('#formCashReceipt')[0].reset();
                $("#btnJvSave").hide();
            } else {
                toastr.error("Sorry! Something went wrong, please try again.");
            }
            
        }

        function OnFailure() {
            toastr.error("Sorry! Something went wrong, please try again.");
            //$("#btnSave").hide();
        }

        function openJv(jvNo) {
            var jvUrl = "/MgcReports/JournalVoucher?jvNo=" + jvNo;
            window.open(jvUrl);
            toastr.info("Journal voucher report is open in new window.");
        }

    </script>
}