<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mahboob Electrical Services</title>
    @Styles.Render("~/fonts")
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <!-- start:wrapper -->
    <div id="wrapper">
        <span id="showHideMenu"><i class="fa fa-bars fa-2x"></i></span>
        <div class="header-top">
            <!-- start:navbar -->
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="container">
                    <!-- start:navbar-header -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><i class="fa fa-cubes"></i> <strong>Mahboob Electrical Services</strong></a>
                    </div>
                    <!-- end:navbar-header -->
                    @*<ul class="nav navbar-nav navbar-left top-menu">
                            <!-- start dropdown 1 -->
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="fa fa-tasks"></i>
                                    <span class="badge bg-success">6</span>
                                </a>
                                <ul class="dropdown-menu extended tasks-bar">
                                    <div class="notify-arrow notify-arrow-green"></div>
                                    <li>
                                        <p class="green">You have 6 pending tasks</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <div class="desc">Dashboard v1.3</div>
                                                <div class="percent">40%</div>
                                            </div>
                                            <div class="progress progress-striped">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                    <span class="sr-only">40% Complete (success)</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <div class="desc">Database Update</div>
                                                <div class="percent">60%</div>
                                            </div>
                                            <div class="progress progress-striped">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                    <span class="sr-only">60% Complete (warning)</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <div class="desc">Iphone Development</div>
                                                <div class="percent">87%</div>
                                            </div>
                                            <div class="progress progress-striped">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                                    <span class="sr-only">87% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <div class="desc">Mobile App</div>
                                                <div class="percent">33%</div>
                                            </div>
                                            <div class="progress progress-striped">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                                                    <span class="sr-only">33% Complete (danger)</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="task-info">
                                                <div class="desc">Dashboard v1.3</div>
                                                <div class="percent">45%</div>
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                    <span class="sr-only">45% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="external">
                                        <a href="#">See All Tasks</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end dropdown 1 -->
                            <!-- start dropdown 2 -->
                            <li id="header_inbox_bar" class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-important">5</span>
                                </a>
                                <ul class="dropdown-menu extended inbox">
                                    <div class="notify-arrow notify-arrow-red"></div>
                                    <li>
                                        <p class="red">You have 5 new messages</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="subject">
                                                <span class="from">Jonathan Smith</span>
                                                <span class="time">Just now</span>
                                            </span>
                                            <span class="message">
                                                Hello, this is an example msg.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="subject">
                                                <span class="from">Jhon Doe</span>
                                                <span class="time">10 mins</span>
                                            </span>
                                            <span class="message">
                                                Hi, Jhon Doe Bhai how are you ?
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="subject">
                                                <span class="from">Jason Stathum</span>
                                                <span class="time">3 hrs</span>
                                            </span>
                                            <span class="message">
                                                This is awesome dashboard.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="subject">
                                                <span class="from">Jondi Rose</span>
                                                <span class="time">Just now</span>
                                            </span>
                                            <span class="message">
                                                Hello, this is metrolab
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">See all messages</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end dropdown 2 -->
                            <!-- start dropdown 3 -->
                            <li id="header_notification_bar" class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="badge bg-warning">7</span>
                                </a>
                                <ul class="dropdown-menu extended notification">
                                    <div class="notify-arrow notify-arrow-yellow"></div>
                                    <li>
                                        <p class="yellow">You have 7 new notifications</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                            Server #3 overloaded.
                                            <span class="small italic">34 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-warning"><i class="fa fa-bell"></i></span>
                                            Server #10 not respoding.
                                            <span class="small italic">1 Hours</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                            Database overloaded 24%.
                                            <span class="small italic">4 hrs</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-success"><i class="fa fa-plus"></i></span>
                                            New user registered.
                                            <span class="small italic">Just now</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-info"><i class="fa fa-bullhorn"></i></span>
                                            Application error.
                                            <span class="small italic">10 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">See all notifications</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end dropdown 3 -->
                        </ul>*@
                    @{
                        if (Request.IsAuthenticated)
                        {
                            <ul class="nav navbar-nav navbar-right top-menu">
                                <!-- user login dropdown start-->
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <span class="username"><strong>Welcome @Html.Encode(User.Identity.Name)</strong></span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <div class="log-arrow-up"></div>
                                        <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                                        <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                                        <li><a href="@Href("~/AccountManagement/LogOut")"><i class="fa fa-key"></i>Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        else
                        {

                            Response.Redirect("~/AccountManagement/LogIn");
                        }
                    }
                </div>
            </nav>
            <!-- end:navbar -->
        </div>
        <div id="header">
            <div class="overlay">
                <nav class="navbar" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="btn-block btn-drop navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <strong>MENU</strong>
                            </button>
                        </div>

                        <!--Start - Quick Links Header -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul id="quickLinks" class="nav navbar-nav">
                                <li id="liDashboard" class="active">
                                    <a href="#">
                                        <div class="text-center">
                                            <i class="fa fa-dashboard fa-3x"></i><br>
                                            Dashboard
                                        </div>
                                    </a>
                                </li>
                                <li id="liMrv">
                                    <a href="@Href("~/MRV/MRVCreation")">
                                        <div class="text-center">
                                            <i class="fa fa-book fa-3x"></i><br>
                                            MRVoucher
                                        </div>
                                    </a>
                                </li>
                                <li id="liSalesEntry">
                                    <a href="@Href("~/Job/JobEntry")">
                                        <div class="text-center">
                                            <i class="fa fa-pencil-square-o fa-3x"></i><br>
                                            Sales Entery
                                        </div>
                                    </a>
                                </li>
                                <li id="liCashMemo">
                                    <a href="@Href("~/Cash/CashMemo")">
                                        <div class="text-center">
                                            <i class="fa fa-briefcase fa-3x"></i><br>
                                            Cash Memo
                                        </div>
                                    </a>
                                </li>
                                <li id="liInvoicePrep">
                                    <a href="@Href("~/Invoice/InvoicePreparation")">
                                        <div class="text-center">
                                            <i class="fa fa-file-text-o fa-3x"></i><br>
                                            Invoice
                                        </div>
                                    </a>
                                </li>
                                <li id="liPurchaseEntry">
                                    <a href="@Href("~/Purchase/PurchaseEntry")">
                                        <div class="text-center">
                                            <i class="fa fa-list-ol fa-3x"></i><br>
                                            Purchase
                                        </div>
                                    </a>
                                </li>
                                <li id="liCashReceipt">
                                    <a href="@Href("~/Cash/CashReceipt")">
                                        <div class="text-center">
                                            <i class="fa fa-credit-card fa-3x"></i><br>
                                            Cash RV
                                        </div>
                                    </a>
                                </li>
                                <li id="liBankReceipt">
                                    <a href="@Href("~/Bank/BankReceipt")">
                                        <div class="text-center">
                                            <i class="fa fa-credit-card fa-3x"></i><br>
                                            Bank RV
                                        </div>
                                    </a>
                                </li>
                                <li id="liCashPayments">
                                    <a href="@Href("~/Cash/CashPayments")">
                                        <div class="text-center">
                                            <i class="fa fa-check-square-o fa-3x"></i><br>
                                            Cash Pay
                                        </div>
                                    </a>
                                </li>
                                <li id="liBankPayment">
                                    <a href="@Href("~/Bank/BankPayment")">
                                        <div class="text-center">
                                            <i class="fa fa-check-square-o fa-3x"></i><br>
                                            Bank Pay
                                        </div>
                                    </a>
                                </li>
                                <li id="liQuotation">
                                    <a href="@Href("~/Quotation/QuotationEntry")">
                                        <div class="text-center">
                                            <i class="fa fa-sort-amount-desc fa-3x"></i><br>
                                            Quotation
                                        </div>
                                    </a>
                                </li>
                                <li id="liSearch">
                                    <a href="@Href("~/Search/Search")">
                                        <div class="text-center">
                                            <i class="fa fa-search fa-3x"></i><br>
                                            Search
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--End - Quick Links Header -->
                    </div>
                </nav>
            </div>
        </div>


        @*sidebar*@


        <div class="nav-side-menu" id="left-menu-wrap">
            @*<div class="brand">Brand Logo</div>*@
            <i class="fa fa-bars fa-2x toggle-btn collapsed" data-toggle="collapse" data-target="#menu-content" aria-expanded="false"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content out collapse" aria-expanded="false" style="height: 0px;">

                    @*finance section*@
                    <li data-toggle="collapse" data-target="#finance" class="collapsed active">
                        <a href="#"><i class="fa fa-dashboard fa-lg"></i> Finance <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="finance">
                        <li><a href="@Href("~/Finance/GlCreation")">GlCreation</a></li>
                        <li><a href="@Href("~/Setups/CustomerMaster")">ARCreation</a></li>
                        <li><a href="@Href("~/Setups/SupplierMaster")">APCreation</a></li>
                        <li><a href="@Href("~/Bank/BankMaster")">Bank Creation</a></li>
                        @*secondlevel*@
                        <li data-toggle="collapse" data-target="#Payments" class="collapsed">
                            <a href="#">Payments <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="Payments">
                            <li><a href="@Href("~/Cash/CashPayments")">Cash Payments</a></li>
                            <li><a href="@Href("~/Bank/BankPayment")">Bank Payments</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#Receipt" class="collapsed">
                            <a href="#">Receipts <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="Receipt">
                            <li><a href="@Href("~/Cash/CashReceipt")">Cash Receipt</a></li>
                            <li><a href="@Href("~/Bank/BankReceipt")">Bank Receipt</a></li>
                            <li><a href="@Href("~/Finance/PdcReceipt")">Pdc Receipt</a></li>
                        </ul>
                        <li><a href="@Href("~/Finance/JvCreation")">JV Creation</a></li>
                        <li><a href="@Href("~/Finance/ArapMatching")">AR/AP Matching</a></li>
                        <li><a href="@Href("~/Finance/ArUnmatching")">AR UnMatching</a></li>
                        <li data-toggle="collapse" data-target="#SalesReports" class="collapsed">
                            <a href="#">Sales Reports <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="SalesReports">
                            <li><a href="@Href("~/MgcReports/EmpSales")">Empwise Sales Report</a></li>
                            <li><a href="@Href("~/MgcReports/EmpWiseJobDetails")">Sales Report</a></li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Statement" class="collapsed">
                            <a href="#">Statement <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="Statement">
                            <li><a href="@Href("~/MgcReports/ArStatement")">AR Detailed Statement</a></li>
                            <li><a href="@Href("~/MgcReports/ArStatementOutstanding")">AR OutStanding Statement</a></li>
                            <li><a href="@Href("~/MgcReports/ApStatement")">AP Detailed Statement</a></li>
                            <li><a href="@Href("~/MgcReports/ApStatementOutstanding")">AP OutStanding Statement</a></li>
                            <li><a href="@Href("~/MgcReports/BankStatement")">Bank Statement</a></li>
                            <li><a href="@Href("~/MgcReports/StockReport")">Stock Report</a></li>
                            <li><a href="@Href("~/MgcReports/StockLedgerReport")">Stock Ledger</a></li>
                            <li><a href="@Href("~/MgcReports/GlStatement")">GL Statement</a></li>
                            <li><a href="@Href("~/MgcReports/TrialBalance")">Trial Balance</a></li>
                            <li><a href="@Href("~/MgcReports/ProfitLossStatement")">Profit/Loss Statement</a></li>
                            <li><a href="@Href("~/MgcReports/BalanceSheet")">Balance Sheet</a></li>
                        </ul>

                        <li data-toggle="collapse" data-target="#List" class="collapsed">
                            <a href="#">List <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="List">
                            <li><a href="@Href("~/Finance/GeneralLedgerList")">General Ledgers</a></li>
                            <li><a href="@Href("~/Finance/AccountsReceivableList")">Accounts Receivable</a></li>
                            <li><a href="@Href("~/Finance/AccountsPayableList")">Accounts payable</a></li>
                        </ul>
                        <li><a href="@Href("~/Finance/DocumentReversal")">Reversal</a></li>
                        <li data-toggle="collapse" data-target="#DuplicatePrinting" class="collapsed">
                            <a href="#">Duplicate Printing <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="DuplicatePrinting">
                            <li><a href="@Href("~/Finance/JvPrinting")">Jv Printing</a></li>
                            <li><a href="@Href("~/Finance/VoucherPrinting")">Voucher Print</a></li>
                        </ul>
                        <li><a href="@Href("~/Finance/DayEndOperation")">Day End Process</a></li>

                        <li data-toggle="collapse" data-target="#UserAdmin" class="collapsed">
                            <a href="#">User Admin<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="UserAdmin">
                            <li><a href="@Href("~/AccountManagement/Registration")">User Creation</a></li>
                            <li><a href="@Href("~/AccountManagement/ChangePassword")">Change Password</a></li>
                        </ul>
                        @*secondlevel*@


                    </ul>
                    @*Daily Trans section*@
                    <li data-toggle="collapse" data-target="#products" class="collapsed">
                        <a href="#"><i class="fa fa-money fa-lg"></i> Daily Transactions<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="products">
                        <li><a href="@Href("~/Quotation/QuotationEntry")">Quotation</a></li>
                        <li><a href="@Href("~/MRV/MRVCreation")">MaterialRV</a></li>
                        <li><a href="@Href("~/Job/JobEntry")">Sales Entry</a></li>
                        @*secondlevel*@
                        <li data-toggle="collapse" data-target="#cancel" class="collapsed">
                            <a href="#">Cancel <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="cancel">
                            <li><a href="@Href("~/Job/JobCancellation")">Job Cancellation</a></li>
                        </ul>
                        <li><a href="@Href("~/Cash/CashMemo")">Cash Memo</a></li>
                        <li data-toggle="collapse" data-target="#invoice" class="collapsed">
                            <a href="#">Invoice<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="invoice">
                            <li><a href="@Href("~/Invoice/InvoicePreparation")">Preparation</a></li>
                            <li><a href="@Href("~/Invoice/InvoiceReversal")">Reversal</a></li>
                        </ul>
                        @*secondlevel*@
                        <li><a href="@Href("~/Purchase/PurchaseEntry")">Purchase</a></li>
                        <li><a href="@Href("~/Purchase/PurchaseReturn")">Purchase Return</a></li>
                        <li><a href="@Href("~/Cash/CashMemoReversal")">CashMemo Reversal</a></li>
                        @*secondlevel*@
                        <li data-toggle="collapse" data-target="#reportsFinance" class="collapsed">
                            <a href="#">Reports<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="reportsFinance">
                            <li><a href="@Href("~/MgcReports/PendingMrvDetails")">Pending Mrv Details</a></li>
                            <li><a href="@Href("~/MgcReports/DeliveredMrvDetails")">Delivered Mrv Details</a></li>
                            <li><a href="@Href("~/MgcReports/ServiceItems")">Service Items</a></li>
                            <li><a href="@Href("~/MgcReports/JobWiseStatement")">Job Wise Report</a></li>
                            <li><a href="@Href("~/MgcReports/PurchaseRegister")">Purchase Report</a></li>
                            <li><a href="@Href("~/MgcReports/DeliveryDetails")">Delivery Note Details</a></li>
                            <li><a href="@Href("~/MgcReports/InvoiceWiseReport")">Invoice Wise Delivery Report</a></li>
                            <li><a href="@Href("~/MgcReports/CashMemoWiseReport")">CashMemo Wise Report</a></li>
                            <li><a href="@Href("~/MgcReports/CancelledJobs")">Cancelled Jobs Details</a></li>
                            <li><a href="@Href("~/MgcReports/ReversedInvoice")">Reversed Invoice Statement</a></li>
                            <li><a href="@Href("~/MgcReports/CashMemoReverse")">Reversed RV Statement</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#duplicateDocument" class="collapsed">
                            <a href="#">Duplicate Printing<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="duplicateDocument">
                            <li><a href="@Href("~/MRV/DuplicateMrvPrinting")">Document Printing</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#searchDetails" class="collapsed">
                            <a href="#">Search<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="searchDetails">
                            @*<li><a href="#">Search Mrv Details</a></li>*@
                            <li><a href="@Href("~/Search/Search")"> Mrv Details</a></li>
                        </ul>
                        @*Secondlevel*@
                        <li><a href="@Href("~/Invoice/PendingInvoices")"> Bill/Invoice Pending</a> </li>
                    </ul>

                    @*setting section*@
                    <li data-toggle="collapse" data-target="#settings" class="collapsed">
                        <a href="#"><i class="fa fa-cogs fa-lg"></i> Setting <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="settings">
                        <li><a href="@Href("~/Setups/FinancialYearPeriod")">Period</a></li>
                        <li><a href="@Href("~/Setups/JobCreation")">Job Creation</a></li>
                        <li><a href="@Href("~/Setups/EmployeeMaster")">Employee Master</a></li>
                        <li><a href="@Href("~/Setups/ProductMaster")">Product Master (Inventory)</a></li>
                        <li><a href="@Href("~/Setups/CustomerMaster")">Customer Master</a></li>
                        <li><a href="@Href("~/Setups/SupplierMaster")">Supplier Master</a></li>
                        <li><a href="@Href("~/Setups/ItemsMaster")">Item Master Service</a></li>
                        <li><a href="@Href("~/Setups/UnitCreation")">Unit Creation</a></li>
                        <li><a href="@Href("~/Setups/MesMachines")">Authenticated Machines</a></li>
                    </ul>

                    @*Admin section*@
                    @*<li data-toggle="collapse" data-target="#admin" class="collapsed">
                            <a href="#"><i class="fa fa-lock fa-lg"></i> Admin <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="admin">
                            <li><a href="#">Backup</a></li>
                            <li><a href="#">Employee Management</a></li>
                        </ul>*@

                    @*REPORT section*@
                    <li data-toggle="collapse" data-target="#report" class="collapsed">
                        <a href="#"><i class="fa fa-file-text-o fa-lg"></i> Report <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="report">
                        @*secondlevel*@
                        <li data-toggle="collapse" data-target="#ReportsMrv" class="collapsed">
                            <a href="#">MRV Details <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="ReportsMrv">
                            <li><a href="@Href("~/MgcReports/PendingMrvDetails")">Pending Mrv Details</a></li>
                            <li><a href="@Href("~/MgcReports/DeliveredMrvDetails")">Delivered Mrv Details</a></li>
                            <li data-toggle="collapse" data-target="#customReports" class="collapsed">
                                <a href="#">Custom Reports<span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse third-level-childs" id="customReports">
                                <li><a href="@Href("~/MgcReports/JobWiseStatement")">Job Wise Report</a></li>
                                <li><a href="@Href("~/MgcReports/PurchaseRegister")">Purchase Report</a></li>
                                <li><a href="@Href("~/MgcReports/DeliveryDetails")">Delivery Note Details</a></li>
                                <li><a href="@Href("~/MgcReports/InvoiceWiseReport")">Invoice Wise Delivery Report</a></li>
                                <li><a href="@Href("~/MgcReports/CashMemoWiseReport")">CashMemo Wise Report</a></li>
                                <li><a href="@Href("~/MgcReports/CancelledJobs")">Cancelled Jobs Details</a></li>
                                <li><a href="@Href("~/MgcReports/ReversedInvoice")">Reversed Invoice Statement</a></li>
                                <li><a href="@Href("~/MgcReports/CashMemoReverse")">Reversed RV Statement</a></li>
                            </ul>
                        </ul>
                        <li data-toggle="collapse" data-target="#ReportsSales" class="collapsed">
                            <a href="#">Sales Report <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="ReportsSales">
                            <li><a href="@Href("~/MgcReports/EmpWiseJobDetails")">Empwise Report</a></li>
                            <li><a href="@Href("~/MgcReports/EmpSales")">General Report</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#ReportsStock" class="collapsed">
                            <a href="#">Stock Report <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="ReportsStock">
                            <li><a href="@Href("~/MgcReports/ServiceItems")">Service Items</a></li>
                            <li><a href="@Href("~/MgcReports/StockReport")">Inventory Items</a></li>
                            <li><a href="@Href("~/MgcReports/StockLedgerReport")">Stock Ledger</a></li>
                        </ul>
                        @*secondlevel*@
                        @*<li><a href="#">AR/AP Summary</a></li>*@
                        <li><a href="@Href("~/MgcReports/ArStatement")">Customer Statement</a></li>
                        <li><a href="@Href("~/MgcReports/ArStatementOutstanding")">Customer Statement OutStanding</a></li>
                        <li><a href="@Href("~/MgcReports/ApStatement")">Supplier Statement</a></li>
                        <li><a href="@Href("~/MgcReports/ApStatementOutstanding")">Supplier Statement OutStanding</a></li>
                        @*secondlevel*@
                        <li data-toggle="collapse" data-target="#ReportFinance" class="collapsed">
                            <a href="#">Finance<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse second-level-childs" id="ReportFinance">
                            <li><a href="@Href("~/MgcReports/BankStatement")">Bank Statement</a></li>
                            <li><a href="@Href("~/MgcReports/GlStatement")">GL Statement</a></li>
                            <li><a href="@Href("~/MgcReports/TrialBalance")">Trial Balance</a></li>
                            <li><a href="@Href("~/MgcReports/ProfitLossStatement")">P and L Statement</a></li>
                            <li><a href="@Href("~/MgcReports/BalanceSheet")">Balance Sheet</a></li>
                        </ul>
                        @*secondlevel*@
                    </ul>

                    @*REPORT section*@
                    <li data-toggle="collapse" data-target="#search" class="collapsed">
                        <a href="#"><i class="fa fa-search fa-lg"></i>Search<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="search">
                        <li><a href="@Href("~//MRV/FindMrvDetails")">Search</a></li>
                        @*<li><a href="#">Sales Entry</a></li>
                        <li><a href="#">Cash Memo</a>li>
                        <li><a href="#">Invoice</a></li>
                        <li><a href="#">Cash RV</a></li>
                        <li><a href="#">Bank RV</a></li>*@
                    </ul>
                </ul>
            </div>
        </div>
        @*#sidebar*@

        <div class="container body-content">

            @RenderBody()
            <hr />

        </div>
        <div class="header-top">
            <footer>
                <div class="container">
                </div>
            </footer>
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-widget">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    <span class="sosmed-footer">
                                        <a href="#"><i class="fa fa-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
                                    </span>
                                    &copy; @System.DateTime.Now.Year <strong>Mahboob Electrical Services</strong>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="footer-bottom-links">
                                    <a href="#">About <strong>Mahboob Electrical Services</strong></a>
                                    <a href="#">Privacy Policy</a>
                                    <a href="#">Terms & Conditions</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:footer -->
    </div>
    <!-- end:wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/libraries")
    @Scripts.Render("~/bundles/JqueryUi")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    @section scripts
    {
        @RenderSection("scripts", false)
    }

    <script>
        $('#showHideMenu').click(function () {
            var toggleWidth = $(".nav-side-menu").width() === 0 ? "270px" : "0";
            $('.nav-side-menu').animate({ width: toggleWidth });
        });


    </script>
</body>
</html>
