@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Bank Master";
    ViewBag.Title = "BankMaster";
}
@model ASI.MGC.FS.Model.BANKMASTER
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Bank Master</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("SaveBankMaster", "Bank", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formBankMaster", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "Required Field", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Bank Code</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        @Html.TextBoxFor(o => o.BANKCODE_BM, null, new { ID = "txtBankCode", Class = "form-control" })
                                        <span class="input-group-btn"><button type="button" id="btnBankSearch" class="btn btn-default" data-toggle="modal" data-target="#BankSearchModel"><i class="fa fa-search"></i></button></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Bank Name</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(o => o.BANKNAME_BM, null, new { ID = "txtBankName", Class = "form-control" })
                                    @Html.ValidationMessage("BankName")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Receipt Loc</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(o => o.RECEIPTLOCATION_BM, null, new { ID = "txtReceiptLoc", Class = "form-control", @Value = "01", })
                                    @Html.ValidationMessage("ReceiptLoc")
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Mode</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.DropDownListFor(o => o.MODE_BM, new SelectList(@ViewBag.bankModeTypes, "Key", "Value", "1"), new { ID = "ddlMode", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Account No</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(o => o.ACCOUNTNUMBER_BM, null, new { ID = "txtAccNo", Class = "form-control" })
                                    @Html.ValidationMessage("AccNo")
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Currency Code</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(o => o.CURRENCY_BM, null, new { ID = "txtCurrCode", @Value = ViewBag.CurrCode, Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessage("CurrCode")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Currency Name</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("CurrName", null, new { ID = "txtCurrName", @Value = ViewBag.CurrName, Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessage("CurrName")
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Bank Status</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.DropDownListFor(o => o.BANKSTTUS_BM, new SelectList(@ViewBag.bankStatus, "Key", "Value", "1"), new { ID = "ddlBankStatus", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Bank Date</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("BankDate", null, new { ID = "txtBankDate", Class = "form-control" })
                                    @Html.ValidationMessage("BankDate")
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Opening Balance</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("OpenBalance", null, new { ID = "txtOpenBalance", Class = "form-control" })
                                    @Html.ValidationMessage("OpenBalance")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">OD Limit</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(o => o.ODLIMIT_BM, null, new { ID = "txtODLimit", Class = "form-control" })
                                    @Html.ValidationMessage("ODLimit")
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblCustDetail" class="control-label col-md-4 small ">Note (If Any)</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("Note", null, new { ID = "txtNote", Class = "form-control" })
                                    @Html.ValidationMessage("Note")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                            </div>
                            <div class="col-md-6 form-group">
                                <label></label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="submit" class="btn btn-success col-md-3 pull-right" value="Save">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="BankSearchModel" tabindex="-1" role="dialog" aria-labelledby="bankSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="bankModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Bank Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="glGrid" class="panel-body">
                                    <div class="col-md-12 form-group">
                                        <div class="col-md-12 input-group paddingLeftRight0">
                                            @Html.TextBox("bankSearch", null, new { ID = "txtBankSearch", Class = "form-control" })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table id="tblBankSearch" style="width: 100%"></table>
                                    <div id="Pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnBankSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/Custom/Bank/BankMaster.js")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script type="text/javascript">
        var isReportOpened = false;
        function OnSuccess(success) {
            if (success) {
                toastr.success("Bank Details has been added Successfully.");
            }
        }

        function OnFailure() {
            toastr.error("Sorry! Something went wrong, please try again.");
        }
    </script>
}
