@{
    ViewBag.Title = "MRVoucher Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "MRVoucher";
}
@model ASI.MGC.FS.Model.MATERIALRECEIPTMASTER
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Material Receipt Voucher</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("SaveMrvCreation", "Mrv", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formMRVCreation", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblCustCode" class="control-label col-md-4 small ">Cust Code:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        @Html.TextBoxFor(d => d.CUSTOMERCODE_MRV, null, new { ID = "txtCustCode", @Value = "CASH", @readonly = "readonly", Class = "form-control", @required = "required" })
                                        <span class="input-group-btn">
                                            <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#CustomerSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblMRVNo" class="control-label col-md-4 small ">MRV No:</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(d => d.MRVNO_MRV, null, new { ID = "txtMRVNo", @Value = @ViewBag.MRVCode, Class = "form-control", @readonly = "readonly", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblCustName" class="control-label col-md-4 small ">Cust Name:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.CUSTOMERNAME_MRV, null, new { ID = "txtCustName", Class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblMRVDate" class="control-label col-md-4 small ">Date:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.MRVDATE_MRV, null, new { ID = "txtMRVDate", @Value = DateTime.Today.Date.ToShortDateString(), Class = "form-control datepicker", @required = "required" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblMRVAddress" class="control-label col-md-4 small ">Address:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.ADDRESS1_MRV, null, new { ID = "txtMRVAddress", Class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblMRVAddress2" class="control-label col-md-4 small ">Address2:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.ADDRESS2_MRV, null, new { ID = "txtMRVAddress2", Class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblMRVTel" class="control-label col-md-4 small ">Telephone No:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.PHONE_MRV, null, new { ID = "txtMRVTel", Class = "form-control", @minlength = "10", @maxlength = "10", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblDocDate" class="control-label col-md-4 small ">DocDate:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.DOC_DATE_MRV, null, new { ID = "txtDocDate", @Value = DateTime.Today.Date.ToShortDateString(), Class = "form-control", @readonly = "readonly", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblMRVTel" class="control-label col-md-4 small ">Second Phone No:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.PHONE2_MRV, null, new { ID = "txtMRVTel2", Class = "form-control", @minlength = "10", @maxlength = "10"})
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblDeleDate" class="control-label col-md-4 small ">DeleDate:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.DELE_DATE_MRV, null, new { ID = "txtDeleDate", @Value = DateTime.Today.Date.ToShortDateString(), Class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblExeCode" class="control-label col-md-4 small ">Exe. Code:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.EXECODE_MRV, null, new { ID = "txtExeCode", Class = "form-control", @Value = "GN" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblLpoRemarks" class="control-label col-md-4 small ">Lpo/Remarks:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextAreaFor(d => d.NOTES_MRV, new { ID = "txtLpoRemarks", Class = "form-control" })
                                </div>
                                <input id="mrvProds" name="mrvProds" type="hidden" />
                            </div>
                        </div>
                        <fieldset>
                            <legend>Product Details</legend>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="grid" class="panel-body">
                                        <section id="unseen">
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#mrvProductModel">
                                                Add Product
                                            </button>
                                            <table id="tblMetarials"></table>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-6 form-group">
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblNetPrdAmount" class="control-label col-md-4 small">Net Amount:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" id="txtNetPrdAmount" name="netPrdAmount" class="form-control" readonly required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small "></label>
                                <div class="col-md-8">
                                    <input type="submit" id="btnSubmit" class="btn btn-success" value="Save">
                                    <button type="button" id="btnNew" class="btn btn-success">New</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="mrvProductModel" tabindex="-1" role="dialog" aria-labelledby="mrvProductModelLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-lg modal-sm">
            <div class="modal-content">
                <form class="form-horizontal" id="mrvProductModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Add Product To Material Receipt Voucher
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 form-group">
                                <label id="lblPrCode" class="control-label col-md-4 small">PrCode:</label>
                                <div class="col-md-6 col-sm-6">
                                    <div class="input-group">
                                        <input type="text" id="txtPrCode" data-provide="typeahead" name="PrCode" class="form-control" autocomplete="off" readonly />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mrvPrdSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 form-group">
                                <label id="lblPrDesc" class="control-label col-md-4 small ">PrDesc:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" id="txtPrDesc" data-provide="typeahead" name="PrDesc" class="form-control" autocomplete="off" required readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5 form-group">
                                <label id="lblJobID" class="control-label col-md-4 small ">Jobid:</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" id="txtJobID" data-provide="typeahead" name="Jobid" class="form-control" autocomplete="off" readonly />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mrvJobSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 form-group">
                                <label id="lblJobDesc" class="control-label col-md-4 small ">JobDesc:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" id="txtJobDesc" data-provide="typeahead" name="JobDesc" class="form-control" autocomplete="off" required readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5 form-group">
                                <label id="lblQuantity" class="control-label col-md-4 small ">Quantity:</label>
                                <div class="col-md-6 paddingLeftRight0">
                                    <input type="number" id="txtQuantity" data-fv-notempty="true" pattern="\d{1,5}" min="1" value="1" name="Quantity" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 form-group">
                                <label id="lblRate" class="control-label col-md-4 small ">Rate:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" id="txtRate" data-fv-notempty="true" pattern="\d{1,5}" name="Rate" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5 form-group">
                                <label class="control-label col-md-4 small ">Amount:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="text" id="txtAmount" name="Amount" class="form-control" value="0" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSave" class="btn btn-success">
                            Save
                        </button>
                        <button type="button" id="btnCancel" class="btn btn-warning">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="mrvPrdSearchModel" tabindex="-1" role="dialog" aria-labelledby="mrvPrdSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 85%">
            <div class="modal-content">
                <form class="form-horizontal" id="mrvPrdSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Porduct Details Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="prdGrid" class="panel-body">
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("prdIdSearch", null, new { ID = "txtPrdIdSearch", Class = "form-control", @placeholder = "Search Product ID here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("prdNameSearch", null, new { ID = "txtPrdNameSearch", Class = "form-control", @placeholder = "Search Product Name here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>

                                    <br /><br />
                                    <table id="tblProductSearch" style="width: 100%"></table>
                                    <div id="prdPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnProductSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="mrvJobSearchModel" tabindex="-1" role="dialog" aria-labelledby="mrvJobSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 85%">
            <div class="modal-content">
                <form class="form-horizontal" id="mrvJobSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Job Details Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="jobGrid" class="panel-body">
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("jobIdSearch", null, new { ID = "txtJobIdSearch", Class = "form-control", @placeholder = "Search Job ID here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("jobNameSearch", null, new { ID = "txtJobNameSearch", Class = "form-control", @placeholder = "Search Job Name here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table id="tblJobSearch" style="width: 100%"></table>
                                    <div id="jobPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnJobSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="CustomerSearchModel" tabindex="-1" role="dialog" aria-labelledby="CustomerSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="CustomerSearchModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Customer Details Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="custGrid" class="panel-body">
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("custIdSearch", null, new { ID = "txtCustIdSearch", Class = "form-control", @placeholder = "Search Customer ID here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("custNameSearch", null, new { ID = "txtCustNameSearch", Class = "form-control", @placeholder = "Search Customer Name here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table id="tblCustomerSearch" style="width: 100%"></table>
                                    <div id="custPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="btnCustSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end:main -->
@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/MRV/MRVCreation.js")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script type="text/javascript">
        function OnSuccess(mrvNoJobList) {
            if (mrvNoJobList.length !== 0) {
                toastr.success("Material Receipt Voucher is added Successfully.");
                openMrvReport(mrvNoJobList[0]);
                openJobReports(mrvNoJobList);
                //$("#formMRVCreation")[0].reset();
                //$('#tblMetarials').jqGrid("clearGridData");
                $("#btnSubmit").hide();
            }
            else
            {
                toastr.error("Sorry! Something went wrong, please try again.");
            }
        }

        function OnFailure() {
            toastr.error("Sorry! Something went wrong, please try again.");
            $("#btnSubmit").hide();
        }

        function openMrvReport(mrvNo) {
            var mrvReportUrl = "/MgcReports/MetarialReceiptVoucher?mrvNo=" + mrvNo;
            window.open(mrvReportUrl);
            toastr.info("Material Receipt Voucher Report is open in new window.");
        }
        function openJobReports(jobList) {
            for (var i = 1; i < jobList.length; i++) {
                var jobNo = jobList[i];
                var jobCardReportUrl = "/MgcReports/JobCardFormat?jobNo=" + jobNo;
                window.open(jobCardReportUrl);
                toastr.info("Job Card Report is open in new window.");
            }
        }

    </script>
}