@{
    ViewBag.Title = "FinancialYearPeriod";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Financial Year Period";
}
@model ASI.MGC.FS.Model.FINYEARMASTER
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Financial Year Details</legend>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11">
                            <div id="grid" class="panel-body">
                                <section>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#FinancialYearModel">
                                        Add New Financial Year
                                    </button>
                                </section>
                                <br /> <br />
                                <section>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <div class="col-md-12 input-group paddingLeftRight0">
                                                @Html.TextBox("searchFinYear", null, new { ID = "txtFYSearch", Class = "form-control" })
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="tblFinancialYearDetails"></table>
                                    <div id="Pager"></div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="FinancialYearModel" tabindex="-1" role="dialog" aria-labelledby="FinancialYearModelLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-lg" style="width: 85%">
            <div class="modal-content">
                @using (Ajax.BeginForm("SaveNewFinancialYear", "Setups", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formFinancialYear", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Add New Financial Year
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Financial Year From</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("CurrentFYFrom", null, new { ID = "txtCurrentFYFrom", Class = "form-control", @Value = ViewBag.CurrentFYFrom, @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Financial Year To</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("CurrentFYTo", null, new { ID = "txtCurrentFYTo", Class = "form-control", @Value = ViewBag.CurrentFYTo, @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">New Financial Year From</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.PERRIEDFROM_FM, null, new { ID = "txtNewFYFrom", Class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.PERRIEDFROM_FM)
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">New Financial Year To</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.PERRIEDRTO_FM, null, new { ID = "txtNewFYTo", Class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.PERRIEDRTO_FM)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            Save
                        </button>
                        <button type="button" id="btnCancel" class="btn btn-warning">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- end:main -->
@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Setups/FinancialYearPeriod.js")"></script>
<script type="text/javascript">

    function OnSuccess(response) {
        alert(response);
    }

    function OnFailure(response) {
        alert("Whoops! That didn't go so well did it?");
    }

</script>
}

