@{
    ViewBag.Title = "JobCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Job Creation";
}
@model ASI.MGC.FS.Model.JOBIDREFERENCE
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Job Details</legend>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11">
                            <div id="grid" class="panel-body">
                                <section>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#JobDetailsModel">
                                        Add New Job
                                    </button>
                                </section>
                                <br /> <br />
                                <section>
                                    <table id="tblJobDetails"></table>
                                    <div id="Pager"></div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="JobDetailsModel" tabindex="-1" role="dialog" aria-labelledby="JobDetailsModelLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-lg" style="width: 85%">
            <div class="modal-content">
                @using (Html.BeginForm("SaveJobCreation", "Setups", FormMethod.Post, new { id = "formJobCreation", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Add Job Details
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Job Code</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.JOBID_JR, null, new { ID = "txtJobId", Class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.JOBID_JR)
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Job Name</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.JOBDESCRIPTION_JR, null, new { ID = "txtJobName", Class = "form-control" })
                                    @Html.ValidationMessageFor(d => d.JOBDESCRIPTION_JR)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Job Rate</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.RATE_RJ, null, new { ID = "txtJob Rate", Class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            Save
                        </button>
                        <button type="button" id="btnCancel" class="btn btn-warning">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- end:main -->
@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Setups/JobCreation.js")"></script>
}