@{
    ViewBag.Title = "InvoicePreparation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Invoice Preparation";
}
@model ASI.MGC.FS.Model.AR_AP_LEDGER
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Invoice Preparation</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("SaveInvoice", "Invoice", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formInvoicePrep", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "Required Field", new { @class = "text-danger" })
                        <input type="hidden" id="hdnSaleDetail" name="saleDetail" />
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblMRVNo" class="control-label col-md-4 small ">MRV No.</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.NARRATION_ART, null, new { ID = "txtMRVNo", Class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.NARRATION_ART)
                                        <span class="input-group-btn">
                                            <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#mrvSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblDate" class="control-label col-md-4 small ">Date</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(m => m.DODATE_ART, null, new { ID = "txtDate", @Value = DateTime.Today.Date.ToShortDateString(), Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.DODATE_ART)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblGLDate" class="control-label col-md-4 small ">GL Date</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(m => m.GLDATE_ART, null, new { ID = "txtGLDate", @Value = DateTime.Today.Date.ToShortDateString(), Class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.GLDATE_ART)
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblDocNo" class="control-label col-md-4 small ">Doc No.</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(m => m.DOCNUMBER_ART, null, new { ID = "txtDocNo", @Value = ViewBag.invoiceCode, Class = "form-control", @readonly = "readonly", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.DOCNUMBER_ART)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblCustCode" class="control-label col-md-4 small ">Cust Code</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(m => m.ARAPCODE_ART, null, new { ID = "txtCustCode", Class = "form-control", @readonly = "readonly", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.ARAPCODE_ART)
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblDLNNo" class="control-label col-md-4 small ">DLN No.</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("DLNNo", null, new { ID = "txtDLNNo", Class = "form-control", @Value = ViewBag.dlnNumber, @readonly = "readonly", @required = "required" })
                                    @Html.ValidationMessage("DLNNo")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblCustDetail" class="control-label col-md-4 small ">Cust Details</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("CustDetail", null, new { ID = "txtCustDetail", Class = "form-control", @readonly = "readonly", @required = "required" })
                                    @Html.ValidationMessage("CustDetail")
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblLpoNo" class="control-label col-md-4 small ">Lpo No</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(m => m.OTHERREF_ART, null, new { ID = "txtLpoNo", Class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OTHERREF_ART)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <fieldset>
                                    <legend>MRV Details</legend>
                                    <div id="gridMRV" class="panel-body">
                                        <section>
                                            <table id="tblMRVJobDetails"></table>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small "></label>
                                <div class="col-md-8 paddingLeftRight0"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblCustDetail" class="control-label col-md-4 small ">Net</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(m => m.DEBITAMOUNT_ART, null, new { ID = "txtNetAmount", Class = "form-control", @readonly = "readonly", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.DEBITAMOUNT_ART)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <fieldset>
                                    <legend>Sale Details</legend>
                                    <div id="gridSale" class="panel-body">
                                        <section>
                                            <table id="tblSaleDetails"></table>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label id="lblTotalCreditAmount" class="control-label col-md-4 small ">Credit Amount</label>
                                    <div class="col-md-8 paddingLeftRight0">
                                        @Html.TextBox("TotalCreditAmount", null, new { ID = "txtTotalCreditAmount", Class = "form-control", @readonly = "readonly", @required = "required" })
                                        @Html.ValidationMessage("TotalCreditAmount")
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label id="lblTotalDiscount" class="control-label col-md-4 small ">Discount</label>
                                    <div class="col-md-8 paddingLeftRight0">
                                        @Html.TextBoxFor(m => m.DEBITAMOUNT_ART, null, new { ID = "txtTotalDiscount", Class = "form-control", @readonly = "readonly", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.DEBITAMOUNT_ART)
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label id="lblTotalShipCharges" class="control-label col-md-4 small ">Ship. Charges</label>
                                    <div class="col-md-8 paddingLeftRight0">
                                        @Html.TextBox("TotalShipCharges", null, new { ID = "txtTotalShipCharges", Class = "form-control", @readonly = "readonly", @required = "required" })
                                        @Html.ValidationMessage("TotalShipCharges")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small "></label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="submit" class="btn btn-success" value="Save">
                                    <button type="button" id="btnNew" class="btn btn-success">New</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="mrvSearchModel" tabindex="-1" role="dialog" aria-labelledby="mrvSearchModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" id="mrvProductModelform" method="post" data-fv-framework="bootstrap"
                      data-fv-message="This value is not valid"
                      data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            MRV Search
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="MrvGrid" class="panel-body">
                                    <div class="col-md-4 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("mrvSearch", null, new { ID = "txtMrvSearch", Class = "form-control", @placeholder = "Search MRV No here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("jobNoSearch", null, new { ID = "txtJobNoSearch", Class = "form-control", @placeholder = "Search Job Number here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <div class="col-md-11 input-group">
                                            @Html.TextBox("custNameSearch", null, new { ID = "txtCustNameSearch", Class = "form-control", @placeholder = "Search Customer Name here..." })
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table id="tblMRVSearch" style="width: 100%"></table>
                                    <div id="Pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <a href="#" id="btnMRVSelect" class="btn btn-success">Select</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/Invoice/InvoicePreparation.js")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script type="text/javascript">

        function OnSuccess(invNumber) {
            debugger;
            if (invNumber !== "") {
                toastr.success("Invoice is generated Successfully.");
                openInvReport(invNumber);
            }
        }

        function OnFailure() {
            toastr.error("Sorry! Something went wrong, please try again.");
        }

        function openInvReport(invNo) {
            var mrvReportUrl = "/MgcReports/Invoice?invNo=" + invNo;
            window.open(mrvReportUrl);
            toastr.info("Invoice Report is open in new window.");
        }

    </script>
}

