@model ASI.MGC.FS.Model.SALEDETAIL
@{
    ViewBag.Title = "InvoiceReversal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Invoice Reversal</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Invoice Reversal</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("SaveInvoiceReversal", "Invoice", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formJobEntry", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblJobID" class="control-label col-md-4 small ">Invoice No:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        @Html.TextBoxFor(d => d.INVNO_SD, null, new { ID = "txtInvoiceNo", Class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.INVNO_SD)
                                        <span class="input-group-btn">
                                            <button type="button" class="searchClass btn btn-default btn-md" data-toggle="modal" data-target="#mrvJobSearchModel">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblMRVNo" class="control-label col-md-4 small ">Doc Date:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(d => d.SALEDATE_SD, null, new { ID = "txtDocDate", Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(d => d.SALEDATE_SD)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblCustCode" class="control-label col-md-4 small ">Other Ref:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("OtherRef", null, new { ID = "txtOtherRef", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblCustName" class="control-label col-md-4 small ">Customer:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("Customer", null, new { ID = "txtCustomer", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblMRVProdCode" class="control-label col-md-4 small ">Amount:</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBoxFor(m => m.CASHTOTAL_SD, null, new { ID = "txtAmount", Class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                            </div>
                            <div class="col-md-6 form-group">
                                <label></label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="submit" class="btn btn-success col-md-3 pull-right" value="Save">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
