@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Balance Sheet";
    ViewBag.Title = "BalanceSheet";
}
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Balance Sheet</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("GenerateBalanceSheet", "MgcReports", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formBalanceSheet", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">Start Date</label>
                                <div class="col-md-8">
                                    @Html.TextBox("StartDate", null, new { ID = "txtStartDate", Class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small ">End Date</label>
                                <div class="col-md-8">
                                    @Html.TextBox("EndDate", null, new { ID = "txtEndDate", Class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                            </div>
                            <div class="col-md-6 form-group">
                                <label></label>
                                <div class="col-md-8">
                                    <input type="submit" id="btnApply" class="btn btn-success col-md-3 pull-right" value="View">
                                </div>
                            </div>
                        </div>
                        <div id="reportViewerRow" class="row hidden">
                            <div class="col-md-12 form-group iframeStyling" style="overflow-x:hidden; overflow-y:no-display">
                                <iframe id="iframeReport" style="overflow-x:hidden; overflow-y:hidden" src=""></iframe>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/MgcReports/BalanceSheet.js")"></script>
    <script type="text/javascript">
        var isReportGenerated = false;
        function OnSuccess() {
            var startDate = $("#txtStartDate").val();
            var endDate = $("#txtEndDate").val();
            var url = '../Reports/BalanceSheet.aspx?startDate=' + startDate + '&endDate=' + endDate;
            $('#iframeReport').attr('src', url);
            $("#reportViewerRow").removeClass("hidden");
        }

        function OnFailure() {
            toastr.error("Sorry! Something went wrong, please try again.");
        }

        function openCashMemoReport(cmNo) {
            var mrvReportUrl = "/MgcReports/CashMemo?cmNo=" + cmNo;
            window.open(mrvReportUrl);
            isReportGenerated = true;
            toastr.info("Cash Memo Report is generated in new window.");
        }

    </script>
}
