@{
    ViewBag.Title = "Profit Loss Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Profit Loss Statement";
}

<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Profit Loss Statement</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm("FetchPLData", "MgcReports", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formPLStatement", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4">Start Date:</label>
                                <div class="col-md-8">
                                    @Html.TextBox("startDate", null, new { ID = "txtStartDate", Class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4">End Date:</label>
                                <div class="col-md-8">
                                    @Html.TextBox("endDate", null, new { ID = "txtEndDate", Class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                            </div>
                            <div class="col-md-6 form-group">
                                <label></label>
                                <div class="col-md-8">
                                    <input type="submit" class="btn btn-success col-md-3 pull-right" value="View"> &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="row frameCenter">
                            @*<div class="col-md-12 iframeStyling" style="overflow-x: hidden; overflow-y: no-display">
                                </div>*@
                            <div id="frameWrap" class="frameWrap" style="display: none">
                                <img id="loader" class="loader" src="/content/Images/loader.gif" alt="loading gif" />
                                <iframe id="iframe" class="iframe iframeStyling"></iframe>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/MgcReports/ProfitLossStatement.js")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script type="text/javascript">
        function OnSuccess(response) {
            if (response.success) {
                var startDate = $("#txtStartDate").val();
                var endDate = $("#txtEndDate").val();
                $('#frameWrap').show();
                var url = "/Reports/ProfitLossStatement.aspx?startDate=" + startDate + "&endDate=" + endDate;
                $('#iframe').prop('src', url);
            } else {
                toastr.error("Start Date/ End Date cannot be empty.");
            }
        }
        function OnFailure() {
            toastr.error("Sorry! Something went wrong, please try again.");
        }
    </script>
}