@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Cash Memo";
    ViewBag.Title = "CashMemo";

}
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Cash Memo</legend>
            <div class="row">
                <div class="container">
                    @using (Html.BeginForm("SaveCashMemo", "Cash", null, FormMethod.Post, new {id = "formCashMemo", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "Required Field", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblMRVNo" class="control-label col-md-4 small ">MRV No.</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("MRVNo", null, new { ID = "txtMRVNo", Class = "form-control" })
                                    @Html.ValidationMessage("MRVNo")
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblDate" class="control-label col-md-4 small ">Date</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("Date", null, new { ID = "txtDate", @Value = DateTime.Today.Date.ToShortDateString(), Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessage("Date")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblGLDate" class="control-label col-md-4 small ">GL Date</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("GLDate", null, new { ID = "txtGLDate", @Value = DateTime.Today.Date.ToShortDateString(), Class = "form-control" })
                                    @Html.ValidationMessage("GLDate")
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblDocNo" class="control-label col-md-4 small ">Doc No.</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("DocNo", null, new { ID = "txtDocNo", Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessage("DocNo")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblCustCode" class="control-label col-md-4 small ">Cust Code</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("CustCode", null, new { ID = "txtCustCode", Class = "form-control" })
                                    @Html.ValidationMessage("CustCode")
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblDLNNo" class="control-label col-md-4 small ">DLN No.</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("DLNNo", null, new { ID = "txtDLNNo", Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessage("DLNNo")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label id="lblCustDetail" class="control-label col-md-4 small ">Cust Details</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("CustDetail", null, new { ID = "txtCustDetail", Class = "form-control" })
                                    @Html.ValidationMessage("CustDetail")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <fieldset>
                                    <legend>MRV Details</legend>
                                    <div id="gridMRV" class="panel-body">
                                        <section>
                                            <table id="tblMRVDetails"></table>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-4 small "></label>
                                <div class="col-md-8 paddingLeftRight0"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label id="lblCustDetail" class="control-label col-md-4 small ">Net</label>
                                <div class="col-md-8 paddingLeftRight0">
                                    @Html.TextBox("NetAmount", null, new { ID = "txtNetAmount", Class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessage("NetAMount")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <fieldset>
                                    <legend>Sale Details</legend>
                                    <div id="gridSale" class="panel-body">
                                        <section>
                                            <table id="tblSaleDetails"></table>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label id="lblTotalCashAmount" class="control-label col-md-4 small ">Cash Amount</label>
                                    <div class="col-md-8 paddingLeftRight0">
                                        @Html.TextBox("TotalCashAmount", null, new { ID = "txtTotalCashAmount", Class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessage("TotalCashAmount")
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label id="lblTotalDiscount" class="control-label col-md-4 small ">Discount</label>
                                    <div class="col-md-8 paddingLeftRight0">
                                        @Html.TextBox("TotalDiscount", null, new { ID = "txtTotalDiscount", Class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessage("TotalDiscount")
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label id="lblTotalShipCharges" class="control-label col-md-4 small ">Ship. Charges</label>
                                    <div class="col-md-8 paddingLeftRight0">
                                        @Html.TextBox("TotalShipCharges", null, new { ID = "txtTotalShipCharges", Class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessage("TotalShipCharges")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <fieldset>
                            <legend>Reciept Details</legend>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label id="lblBankCode" class="control-label col-md-4 small ">Bank Code</label>
                                    <div class="col-md-8 paddingLeftRight0">
                                        @Html.TextBox("BankCode", null, new { ID = "txtBankCode", Class = "form-control" })
                                        @Html.ValidationMessage("BankCode")
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label id="lblBankDetails" class="control-label col-md-4 small ">BankDetails</label>
                                    <div class="col-md-8 paddingLeftRight0">
                                        @Html.TextBox("BankDetails", null, new { ID = "txtBankDetails", Class = "form-control" })
                                        @Html.ValidationMessage("BankDetails")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label id="lblBankAmount" class="control-label col-md-4 small ">Amount</label>
                                    <div class="col-md-8 paddingLeftRight0">
                                        @Html.TextBox("BankAmount", null, new { ID = "txtBankAmount", Class = "form-control" })
                                        @Html.ValidationMessage("BankAmount")
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label id="lblCustDetail" class="control-label col-md-4 small ">Notes</label>
                                    <div class="col-md-8 paddingLeftRight0">
                                        @Html.TextBox("BankNotes", null, new { ID = "txtBankNote", Class = "form-control" })
                                        @Html.ValidationMessage("BankNotes")
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-6 form-group">
                            </div>
                            <div class="col-md-6 form-group">
                                <label></label>
                                <div class="col-md-8 paddingLeftRight0">
                                    <input type="submit" class="btn btn-success col-md-3 pull-right" value="Save">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrapValidator.min.js")"></script>
    <script>
        $(document).ready(function () {
            $("#quickLinks").children("li.active").removeClass("active");
            $("#liCashMemo").addClass("active");
            var arrMRVDetails = [];
            var arrSaleDetails = [];
            $('#txtDate').datepicker();
            $('#txtGLDate').datepicker();
            jQuery("#tblMRVDetails").jqGrid({
                datatype: "local",
                height: 100,
                colNames: ['Job No', 'Job Description', 'Job Status'],
                colModel: [
                    { name: 'JobNo', index: 'JobNo', width: 150, align: "center", sortable: false },
                    { name: 'JobDesc', index: 'JobDesc', width: 350, align: "left", sortable: false },
                    { name: 'JobStatus', index: 'JobStatus', width: 150, align: "center", sortable: false }
                ],
                multiselect: false,
                caption: "MRV Details"
            });
        });
        jQuery("#tblSaleDetails").jqGrid({
            datatype: "local",
            height: 100,
            colNames: ['Job No', 'PR Code', 'S W Code', 'Description', 'Qty', 'Unit', 'Rate', 'Cash Amount', 'Discount', 'Ship. Chrg'],
            colModel: [
                { name: 'JobNo', index: 'JobNo', width: 80, align: "center", sortable: false },
                { name: 'PRCode', index: 'PRCode', width: 80, align: "center", sortable: false },
                { name: 'SWCode', index: 'SWCode', width: 80, align: "center", sortable: false },
                { name: 'Description', index: 'Description', width: 250, align: "left", sortable: false },
                { name: 'Qty', index: 'Qty', width: 80, align: "center", sortable: false },
                { name: 'Unit', index: 'Unit', width: 80, align: "center", sortable: false },
                { name: 'Rate', index: 'Rate', width: 80, align: "center", sortable: false },
                { name: 'CashAmount', index: 'CashAmount', width: 100, align: "center", sortable: false },
                { name: 'Discount', index: 'Discount', width: 100, align: "center", sortable: false },
                { name: 'ShipChrg', index: 'ShipChrg', width: 100, align: "center", sortable: false }

            ],
            multiselect: false,
            caption: "Sale Details"
        });
        $(window).resize(function () {
            var outerwidthMRV = $('#gridMRV').width();
            $('#tblMRVDetails').setGridWidth(outerwidthMRV);
            var outerwidthSale = $('#gridSale').width();
            $('#tblSaleDetails').setGridWidth(outerwidthSale);
        });
        $('#formCashMemo').bootstrapValidator({
            container: '#messages',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                MRVNo: {
                    validators: {
                        notEmpty: {
                            message: 'MRV Number is required'
                        }
                    }
                }
            }
        });
    </script>
}
